<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h2>
                Đăng Ký
            </h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/user/store">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Nhập vào địa chỉ name">
                </div>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Nhập vào địa chỉ email">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nhập vào địa chỉ password">
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary"> Đăng Ký</button>
                </div>
            </form>
        </div>
    </div>
</div>


